<p id="notice"><%= notice %></p>
<h>GØT々दहशत</h>
<h>Royal Pass S11</h>

<table class="table table-striped">
  <thead>
    <tr>
      <th><h3>Name</h3></th>
      <th><h3>RP</h3></th>

    </tr>
  </thead>

  <tbody>
    <% @royalpasses.each do |royalpass| %>
      <tr>
        <td><p1><%= royalpass.name %></p1></td>
        <td><p1><%= royalpass.rp %></p1></td>
        
        <td><%= link_to 'Show', royalpass, class: "btn btn-danger"%></td>
         <% if current_user.role == "admin" %>
        <td><%= link_to 'Edit', edit_royalpass_path(royalpass) %></td>
          <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
