<p id="notice"><%= notice %></p>

<h><strong><%= @royalpass.name %></strong></h>

<p>
  <strong>RP:</strong>
  <%= @royalpass.rp %>
</p>

<p>
  <strong>Points:</strong>
  <%= @royalpass.pts %>
</p>

<p>
  <strong>Rank in Clan:</strong>
  <%= @royalpass.rnk %>
</p>

<%= link_to 'Back', royalpasses_path,class: "btn btn-info"%>
