<%= form_with(model: table1, local: true) do |form| %>
  <% if table1.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(table1.errors.count, "error") %> prohibited this table1 from being saved:</h2>

      <ul>
        <% table1.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>



  <div class="field">
    <%= form.label :tier %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :kd %>
    <%= form.text_field :kd %>
  </div>

   <div class="field">
    <%= form.label :hd %>
    <%= form.text_field :hd %>
  </div>
  <div class="field">
    <%= form.label :kill %>
    <%= form.text_field :die %>
  </div>
   <div class="field">
    <%= form.label :matches %>
    <%= form.text_field :matches %>
  </div>




  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
