<%= form_with(model: table1, local: true) do |form| %>
  <% if table1.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(table1.errors.count, "error") %> prohibited this table1 from being saved:</h2>

      <ul>
        <% table1.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.datetime_select :date %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :postcode %>
    <%= form.number_field :postcode %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
