<p id="notice"><%= notice %></p>

<h1>Table1s</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th>Address</th>
      <th>Postcode</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @table1s.each do |table1| %>
      <tr>
        <td><%= table1.name %></td>
        <td><%= table1.date %></td>
        <td><%= table1.address %></td>
        <td><%= table1.postcode %></td>
        <td><%= link_to 'Show', table1,class: "btn btn-primary" %></td>
        <td><%= link_to 'Edit', edit_table1_path(table1) %></td>
        <td><%= link_to 'Destroy', table1, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Table1', new_table1_path %>
